.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/aboutcover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
    color: lightgray;
    background-color: #eee;
}

.jumbotron p {
    color:black;
    font-size: 20px;
}

#product {
    height: 350px;
}

#product .btn {
    background-color: #ff003c;
}

.card button {
    width: 70px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: black;
}

#lblCartCount {
    font-size: 12px;
    background: none;
    color: black;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

main {
    background-color: none;
}
